html{
    background-color: rgb(60, 29, 83);
}
 
p{
    color: antiquewhite;
}

h1{
    color: blueviolet;
}

h3{
    color:blueviolet
}

th{
    color: antiquewhite;
}

td{
    color:antiquewhite
}